@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

:root {
  --section-bg: #dedede;
  --text-primary: #0c1512;
}

.card-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease; /* slower animation */
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
}


.hero-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.hero-visible {
  opacity: 1;
  transform: translateY(0);
}


