@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

* {
  box-sizing: border-box;
}

:root {
  --section-bg: #dedede;
  --text-primary: #0c1512;
}

.card-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
}

.hero-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.hero-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Make background non-blocking */
.hero-background {
  pointer-events: none;
}
